.main {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10rem);
}

.cta-container {
  margin-bottom: 1.3rem;
}

.cta {
  margin-right: 1rem;
  padding: 2px 7px;
}

.btn {
  padding: 1px 4px;
  border-radius: 5px;
  background-color: white;
}

.delete {
  color: red;
  font-weight: bold;
}

.delete:disabled {
  color: rgba(16, 16, 16, 0.3);
}

.msg-conatiner {
  padding-bottom: 3rem;
}

.msg {
  border-top: 1px dotted black;
  padding: 1rem 0;
}

.msg-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.msg-info > * {
  height: 20px;
}

.msg-content {
  padding-left: 3rem;
  color: gray;
  font-weight: 600;
}

.icon {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.src,
.time {
  font-weight: 600;
}
.time {
  color: gray;
}

.delete-btn {
  border: none;
  color: blue;
  background-color: white;
  margin-left: 1rem;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sort {
  width: 20rem;
}

.pagination {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  height: 2rem;
  width: calc(100% - 8rem);
  left: 4rem;
  border-radius: 10px;
}

.active {
  background: #eccc68;
}

.page-btn {
  height: 2rem;
  border-radius: 50%;
  width: 2rem;
}
